{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="form-box">
            <div class="login-form">
            <p>Registrate</p>
            {{user.name}}
            </div>
        </div>
    </div>

{% endblock %}