{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="edit-user-box">
            <div class="edit-form">
                <h1 class="title-edit-user">Editar datos de:</h1>
                <h1 class="title-edit-user-sub"></h1>
                {{form(editForm)}}         
            </div>  
        </div>
        <a id="access-ef" class="cancel-button-u" href="{{path('users_list')}}">Volver atrás</a>
    </div>    

{% endblock %}