{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h1 class="users-title">Listado de usuarios</h1>
        {% for user in users %}
        <article class="user-box">
            <p class="user-field">NOMBRE:</p>
            <p class="user-data">{{user.name}}</p>
            <p class="user-field">EMAIL:</p>
            <p class="user-data">{{user.email}}</p>
            <p class="user-field">COMENTARIO:</p>
            <p class="user-data">{{user.coment}}</p>
            <button id="edit-button" class="edit-btn" onclick="removeUser()">Editar</button>
            <button id="delete-button" class="delete-btn">Eliminar</button>
            <p>{{pruebas}}</p>
        </article>
        {% endfor %}
    </div>
{% endblock %}
