{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="form-box">
            <div class="login-form">
            <p class="users-title">Registrate</p>
            {{form(registerForm)}}
            </div>
        </div>
    </div>

{% endblock %}
